<h3><%= t('shared.pages.statistic.title') %></h3>
<div style="float: right;"><span align="right"><a href="print-records" title=<%= t('shared.pages.statistic.printrecords') %> target="blank"><i class="icon-print"></i></a></span></div>
<p><strong><%= t('shared.pages.statistic.count_forms') %></strong><%= @count %></p>
