<div id="wrapper">
    <div id="head-wrapper">
        <%= render 'navbar' %>
         <div class="container-fluid after-nav">
            <div class="row-fluid">
                <h3 class="pull-left"><%= t('shared.pages.statistic.title') %></h3>
            </div>
        </div>
        <%= render "table_header" %>
    </div>
    <div id="body-wrapper">
        <%= render "table" %>
    </div>
</div>

<div id="modalComments" class="modal hide fade">
    <button type="button" class="close" data-dismiss="alert" id="close-modal">×</button>
    <div></div>
</div>
