<div class="container-fluid">
    <div class="top-padding" align="right">
        <%= link_to t('shared.pages.root_path'), :root %>
    </div>
    <div class="top-center">
        <h3 align="center"><%= t('shared.pages.success') %></h3>
    </div>
</div>
