// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.top-padding { padding-top: 0.4em; }
.top-center { padding-top: 5em; }
table.table { font-size: 0.85em; }
table.table th { 
    text-align: center; 
    vertical-align: middle;
}
table.table td.center-middle { 
    text-align: center; 
    vertical-align: middle;
    font-weight: bold;
    background-color: #f5f5f5;
    color: #9da0a4;
}
table.table.header-table { margin-bottom: 0; }
table.table.body-table { 
    border-top: 0; 
    border-radius: 0 0 4px 4px;
    padding-right: 1px;
}
.table-bordered.body-table tbody:first-child tr:first-child > th:first-child {
    -webkit-border-top-left-radius: 0 !important;
    -moz-border-radius-topleft: 0 !important;
    border-top-left-radius: 0 !important;
}
table.header-table th { 
    border: 0; 
    border-left: 1px solid #dddddd;
}
.header-table tbody:first-child tr:first-child > th:first-child { border-left: 0; }
.header-table tbody:first-child tr:first-child { border-bottom: 1px solid #dddddd; }
.rad { 
    border-radius: 4px 4px 0 0; 
    border: 1px solid #dddddd;
}
.fixed-row { 
    position: fixed; 
    background-color: white;
}
.group { border-bottom: 1px solid #dddddd; }
.sender {
    color: #0088cc;
    border-bottom: 1px dashed #0088cc;
    cursor: pointer;
}
.detail {
    position: absolute;
    max-width: 60%;
    background: #fff8dc;
    border: 1px solid #e0dcbf;
    padding: 0.8em;
    color: #444444;
}
#modalComments {
    background: #fff8dc;
    border: 1px solid #e0dcbf;
    padding: 0.8em 1.8em 1.8em 1.8em;
    color: #444444;
    border-radius: 0;
    div { padding-top: 1em; }
}
a[data-toggle] { font-size: 1em; }
.printable { page-break-after: always; }
